<form action="/" method="get" target="_self" enctype="multipart/form-data">
	<div>		
		
		<label for="name">Latitude (90.00 N - 90.00 S):</label><br>
		<input type="text" id="lati" name="lati" placeholder="input here">
		<select name="NS" id="NS">
			<option value="n" selected>N</option>
			<option value="s" selected>S</option>
		</select><br><br>
		<label for="name">Longitude (180.00 W - 180.00 E):</label><br>
		<input type="text" id="longi" name="longi" placeholder="input here">
		<select name="WE" id="WE">
			<option value="w" selected>W</option>
			<option value="e" selected>E</option>
		</select><br>
	</div>
	<br>
	<input type="submit" value="Summit"><br>
	<label for="name">The nearest path is :</label>
</form>